.bouton-contact a.button {
  background-color: #ebed49;
}

.bouton-contact a.button:hover {
  background-color: #3b3b3b;
}

.bouton-contact a {
  font-weight: 800;
  float: right;
}

.texte-contact {
  padding-top: 50px;
}

.formulaire {
  padding-top: 50px;
}

section.container {
  padding-top: 0px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}
